<!DOCTYPE html>
<html>
<head>
	<title>Argesta 3D Printer</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body{
			font-family: 'Roboto Slab', serif;
			background-color: #f7f7f7;
		}
		a {
			font-family: 'Roboto Slab', serif;
		}
		.outer {
			display: table;
			osition: absolute;
			height: 100%;
			width: 100%;
		}

		.middle {
			display: table-cell;
			vertical-align: middle;
		}

		.inner {
			text-align: right;
			width: 400px;
			font-size: 17px;
			color: green;
			/*whatever width you want*/
		}
		.card2 {
			border-radius: 0px;
			border-left-width: 0px;
			border-top-width: 0px;
			border-bottom-width: 0px;
		}
		td .btn{
			padding: 1px 5px;
		}
		.btn {
			border-radius: 0px;
		}
		.hareket td {
			padding: 0px; margin: 0px;
		}
		.preheat:hover {
			border-color: #007cb0;
		}
		.card {
			border-radius: 0px;
		}
		</style>
</head>
<body>

<div class="container">
	
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6">
			<img src="http://argesta.com.tr/img/biglogo.png" style="width: 300px;">
		</div>
		<div class="col-md-6" align="right" style="padding-top: 20px; font-size: 20px; color: green;">
		Yazıcınız Kullanıma Hazır &nbsp; <span class="glyphicon glyphicon-ok"></span>
		</div>
					
	</div>
	<hr/>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card" style="padding: 10px;">
				<div style="width: 100%; font-size: 18px;">
					<div class="row">
						<div class="col-md-8">
							<span class='glyphicon glyphicon-th-large' style="font-size: 20px; margin-top: 5px; -webkit-text-stroke: 1px white;"></span> &nbsp;Yazdırılan dosya: <span style="color: green;">{{ file }}</span>
						</div>
						<div class="col-md-4" align="right">
							<button onclick="PrintStop()" class="btn btn-outline-danger"><span class="glyphicon glyphicon-stop"></span></button>
							<button onclick="PrintPause()" id="PrintPauseBTN" class="btn btn-outline-primary"><span class="glyphicon glyphicon-pause"></span></button>
							<button onclick="PrintContinue()" id="PrintContinueBTN" class="btn btn-outline-primary" disabled><span class="glyphicon glyphicon-play"></span></button>
						</div>
					</div>
					
				</div>
				<div><hr style="margin-top: 3px; margin-bottom: 15px;"/></div>
				<!--<div class="progress" style="height: 30px;">
	  				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	  			</div>
	  			<div style="margin-top: -20px;" id="printingText">
  					<h2>Yazdırılıyor...</h2>
  				</div>-->
  				
				<div class="progress" style="height: 30px;">
                  <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                </div>
                <div style="margin-top: -10px;">
                	<span class="glyphicon glyphicon-stop" style='color: #007cb0;'></span>&nbsp; <span id="progresstext">Yazdırma işlemi başlıyor.</span>
                </div>
                <div>
                	<span class="glyphicon glyphicon-stop" style='color: #007cb0;'></span>&nbsp; <b>Geçen Süre: </b> <span id="time"># Dakika # Saniye</span>
                </div>
			</div>
		</div>
	</div>
	<!--<div class="row" style="margin-top: 15px;">
		<div class="col-md-4">
			<div class="card" style="padding: 10px;">
				<div style="width: 100%; font-size: 18px;">
					Pozisyon Bilgisi
				</div>
				<div><hr style="margin-top: 3px; margin-bottom: 8px;"/></div>

				<div class="row">
					<div class="col" align="center">
						<b style='color: #007cb0;'>X: </b>0.0
					</div>
					<div class="col" align="center">
						<b style='color: #007cb0;'>Y: </b>0.0
					</div>
					<div class="col" align="center">
						<b style='color: #007cb0;'>Z: </b>0.0
					</div>
				</div>				
			</div>
		</div>
	</div>-->
</div>

<div style="height: 50px;">

<footer class="fixed-bottom" style="background-color: white;">
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-md-4" style="padding: 15px;">
				<div class="row">
					<div class="col-md-4" align="center">
						<span class='glyphicon glyphicon-exclamation-sign' style="font-size: 50px; margin-top: 5px; -webkit-text-stroke: 2px white;"></span>
					</div>
					<div class="col-md-8" style="font-size: 13px;">
						<p>Hata ile karşılaşmanız durumunda	<a href="">3d.argesta.com.tr/report</a> adresinden bizlere iletiniz.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4" style="padding: 15px;">
				<div class="row">
					<div class="col-md-4" align="center">
						<span class='glyphicon glyphicon-floppy-saved' style="font-size: 50px; margin-top: 5px; -webkit-text-stroke: 2px white;"></span>
					</div>
					<div class="col-md-8" style="font-size: 13px;">
						<p>Ayrıntılı yardım dökümanına <a href="">3d.argesta.com.tr/documents</a> adresinden ulaşabilirsiniz.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4" style="padding: 15px;">
				<div class="row">
					<div class="col-md-4" align="center">
						<span class='glyphicon glyphicon-registration-mark' style="font-size: 50px; margin-top: 5px; -webkit-text-stroke: 1px white;"></span>
					</div>
					<div class="col-md-8" style="font-size: 13px;">
						<p>Tüm hakları <b>ARGESTA Makine Mühendislik</b> şirketine aittir. Kopyalanması yasaktır.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
<script>

window.setInterval(function(){
	$.ajax({
	    url: "/printjobajax/",
	    type: "POST",
	    data: { "istek": "percentage" },
	    success: function(sonuc){
	        var values = sonuc.split("*");

	        var ETempCur = values[0];
	        var ETempTar = values[1];
	        //$("#progress").html(ETempCur + " <span class='glyphicon glyphicon-chevron-right' style='color: #007cb0;'></span> " + ETempTar);

	        document.getElementById("progress").style.width = Math.round(values[0] * 10) / 10 + "%";
	        document.getElementById("progresstext").innerHTML = Math.round(values[0] * 10) / 10 + "% Tamamlandı";

	        var BTempCur = values[2];
	        var BTempTar = values[3];
	        //$(".BTemp").html(BTempCur + " <span class='glyphicon glyphicon-chevron-right' style='color: #007cb0;'></span> " + BTempTar);
	    }
	});
	$.ajax({
	    url: "/printjobajax/",
	    type: "POST",
	    data: { "istek": "time" },
	    success: function(sonuc){
	        
            if (parseInt(sonuc) > 3600) {
                var saat = parseInt(parseInt(sonuc) / 3600)
                var dakika = parseInt(parseInt(parseInt(sonuc) - saat*3600)/60)
                var saniye = parseInt(parseInt(sonuc) - parseInt((dakika*60) + (saat*60)))
                document.getElementById("time").innerHTML = saat + " Saat " + dakika + " Dakika " + saniye + " Saniye";
            }
            else if (parseInt(sonuc) > 60) {

                var dakika = parseInt(parseInt(sonuc)/60)
                var saniye = parseInt(parseInt(sonuc) - parseInt((dakika*60)))
                document.getElementById("time").innerHTML = dakika + " Dakika " + saniye + " Saniye";
            }
            else {
                var saniye = parseInt(sonuc)
                document.getElementById("time").innerHTML = sonuc + " Saniye";
            }
	    }
	});
	$.ajax({
	    url: "/printjobajax/",
	    type: "POST",
	    data: { "istek": "isPrinting" },
	    success: function(sonuc){
	    	console.log(sonuc);
	        if (sonuc == "False") {
	        	alert("Yazdırma İşleminiz Bitti.")
	        	location.href = '/';
	        }
	        else if (sonuc == "Error") {
	        	console.log("Sunucu bağlantı hatası!");
	        	alert("Sunucu bağlantı hatası!");
	        }
            else if (sonuc.startsWith("True")) {
                //console.log("Yazdırma işlemi başarılı bir şekilde devam ediyor.");
                /*document.getElementById("printingText").innerHTML = "<h2>Yazdırılıyor...</h2>";
                document.getElementById("PrintContinueBTN").disabled = true;
                document.getElementById("PrintPauseBTN").disabled = false;*/
            }
            else if (sonuc.startsWith("Paused")) {
                /*document.getElementById("printingText").innerHTML = "<h2 style='color: red;'>Duraklatıldı!</h2>";
                document.getElementById("PrintContinueBTN").disabled = false;
                document.getElementById("PrintPauseBTN").disabled = true;*/
            }
	    }
	});
}, 1000);

function PrintStop() {
	$.ajax({
	    url: "/printjobajax/",
	    type: "POST",
	    data: { "istek": "PrintStop" },
	    success: function(sonuc){}
	});
}

function PrintPause() {
    $.ajax({
        url: "/printjobajax/",
        type: "POST",
        data: { "istek": "PrintPause" },
        success: function(sonuc){}
    });
}

function PrintContinue() {
    $.ajax({
        url: "/printjobajax/",
        type: "POST",
        data: { "istek": "PrintContinue" },
        success: function(sonuc){}
    });
}

</script>